body {
    background-image: url("img_tree.png");
    background-position: right top;
    background-color: rgb(198, 240, 11);
}

h1 {
    color: purple;
}

p  {
    color: red;
    font-style: italic;
    text-align: centergit ;
}

.para2 {
    color: tomato;
}

#wal1 {
    color: rgb(110, 22, 224);
}
